<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Volver</ion-button>
    </ion-buttons>
    <ion-buttons slot="end"> </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperar contraseña</ion-card-title>
    </ion-card-header>
    <div class="p-2">
      <p class="text-justify">
        Ingrese a continuación su documento nacional de identidad para poder
        recuperar su contraseña.
      </p>

      <form class="w-full my-4" [formGroup]="form">
        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="D.N.I."
            formControlName="dni"
          ></ion-input>
        </ion-item>
        @if (form.get('dni')?.dirty && form.get('dni')?.invalid) {
        <app-error-input
          class="mr-auto"
          [message]="getErrorMessage('dni', form)"
        ></app-error-input>
        }
      </form>

      <p class="font-extrabold text-red-600 my-2">Importante!!!</p>
      <p class="font-bold text-justify">
        En el caso de no poder recuperar su contraseña ponerse en contacto con
        el administrador del sistema.
      </p>
      <ion-button (click)="confirm()" class="w-full mt-8">Enviar</ion-button>
    </div>
  </ion-card>
</ion-content>
