<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" color="light">
      <ion-segment-button value="social" (click)="currentPage = 0">
        <ion-label class="text-sm">Eventos sociales</ion-label>
      </ion-segment-button>
      <ion-segment-button value="assembly" (click)="convocationCurrentPage = 0">
        <ion-label class="text-sm">Asambleas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher
    slot="fixed"
    [pullFactor]="0.5"
    [pullMin]="100"
    [pullMax]="200"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="p-3">
    @switch (selectedSegment) { @case ('social'){
    <p class="mb-2 text-red-300 bg-neutral-950 p-2 mt-1 text-sm rounded">
      Los siguientes eventos sociales están programados para los próximos días.
    </p>

    <ion-list>
      @for (event of socialEvents;track event.id) {
      <ion-item [button]="true" (click)="onViewEvent(event)">
        <div class="flex gap-3 py-2">
          @if (event.imageUrl) {
          <ion-img
            [src]="event.imageUrl"
            [alt]="event.title"
            class="w-1/4"
          ></ion-img>
          } @else {
          <ion-img
            src="assets/images/No_image_available.svg"
            [alt]="'No imagen'"
            class="w-1/4"
          ></ion-img>
          }
          <div class="flex flex-col w-3/4">
            <h2 class="text-lg font-bold text-teal-600">{{ event.title }}</h2>
            <p class="text-sm">
              <strong>Fecha & hora: </strong>
              <br />
              {{ event.date | date : "EEEE, dd/MM/yyyy HH:mm"}}
            </p>
            <p class="text-sm"><strong>Lugar: </strong>{{event.place}}</p>
          </div>
        </div>
      </ion-item>
      }
    </ion-list>

    } @case ('assembly'){
    <p class="mb-2 text-red-300 bg-neutral-950 p-2 mt-1 text-sm rounded">
      Las siguientes asambleas están programadas para los próximos días.
    </p>

    <ion-list>
      @for (convocation of convocations;track convocation.id) {
      <ion-item [button]="true" (click)="onViewConvocation(convocation)">
        <ion-card color="ligth" class="w-full mx-0 px-0">
          <ion-card-header color="dark">
            <ion-card-title>
              <strong class="text-emerald-300">{{convocation.subject}}</strong>
              <br />
              <strong class="text-purple-300 text-sm">
                {{convocation.type === 'ASSEMBLY_ORDINARY' ? 'Asamblea
                Ordinaria' : 'Asamblea Extraordinaria' }}
              </strong>
            </ion-card-title>
          </ion-card-header>

          <div class="p-3 relative bg-neutral-50">
            <p>
              <strong class="text-teal-600">Fecha:</strong> {{ convocation.date
              | date : "EEEE, dd/MM/yyyy" }}
            </p>
            <p>
              <strong class="text-teal-600">Hora de inicio:</strong> {{
              convocation.date | date : "HH:mm" }}
            </p>
            <p>
              <strong class="text-teal-600">Lugar:</strong>
              {{convocation.place}}
            </p>

            <p class="p-1 bg-red-700 text-white mt-2 rounded text-center">
              <strong>Fecha & hora límite de asistencia:</strong> <br />
              {{ convocation.attendanceDeadline| date : "EEEE, dd/MM/yyyy HH:mm"
              }}
            </p>
          </div>
        </ion-card>
      </ion-item>
      }
    </ion-list>

    } }
  </div>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
