<ion-content class="ion-padding">
  <ion-img src="assets/images/logo-removebg.png" class="w-11/12 m-auto">
  </ion-img>

  <ion-card color="dark">
    <ion-card-header class="ion-text-center"
      ><span class="font-extrabold">Información personal</span></ion-card-header
    >
    <ion-card-content>
      <div class="flex flex-col gap-2">
        <div>
          <legend class="text-sm font-bold text-emerald-600">Nombres</legend>
          <p>{{ currentUser.names }}</p>
        </div>
        <div>
          <legend class="text-sm font-bold text-emerald-600">Apellidos</legend>
          <p>{{ currentUser.surnames }}</p>
        </div>
        <div>
          <legend class="text-sm font-bold text-emerald-600">
            Documento nacional de identidad
          </legend>
          <p>{{ currentUser.dni }}</p>
        </div>
        <div>
          <legend class="text-sm font-bold text-emerald-600">
            Número de teléfono
          </legend>
          <p>{{ currentUser.phone }}</p>
        </div>
        <div>
          <legend class="text-sm font-bold text-emerald-600">
            Correo electrónico
          </legend>
          <p>{{ currentUser.email }}</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card color="dark">
    <ion-card-header class="ion-text-center"
      ><span class="font-extrabold">Opciones</span></ion-card-header
    >
    <ion-card-content>
      <ion-button expand="block" class="mb-4" color="tertiary" id="open-modal"
        >Cambiar contraseña</ion-button
      >

      <ion-button expand="block" color="medium" (click)="logout()"
        >Cerrar sesión</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Volver</ion-button>
        </ion-buttons>
        <ion-buttons slot="end"> </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form class="w-full my-4" [formGroup]="form">
        <ion-item>
          <ion-input
            type="password"
            formControlName="password"
            label="Nueva contraseña"
            labelPlacement="stacked"
          >
            <ion-input-password-toggle
              slot="end"
              color="success"
            ></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        @if (form.get('password')?.dirty && form.get('password')?.invalid) {
        <app-error-input
          class="mr-auto"
          [message]="getErrorMessage('password', form)"
        ></app-error-input>
        }
      </form>
      <p class="font-extrabold text-red-600 my-2">Importante!!!</p>
      <p class="font-bold text-justify">
        En el caso de no poder cambiar su contraseña ponerse en contacto con el
        administrador del sistema.
      </p>
      <ion-button (click)="confirm()" class="w-full mt-8">Enviar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
