<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="calendar-number"></ion-icon>
      Eventos
    </ion-tab-button>
    <ion-tab-button tab="my-home">
      <ion-icon name="home"></ion-icon>
      Mi Hogar
    </ion-tab-button>
    <ion-tab-button tab="assemblie">
      <ion-icon name="id-card"></ion-icon>
      Asambleas
    </ion-tab-button>
    <ion-tab-button tab="suggestion-box">
      <ion-icon name="help"></ion-icon>
      Buzón
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
